<div class="fixed">
        <div class="heading">
            FitLog
        </div>
        <div class="navigation">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
                </ul>
            </div>
        </div>