
<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
        <% include ./partials/head %>
    
</head>
<body>
    <header>
            <% include ./partials/header %>
    </header>   
    <div class="container">
        <h1> Welcome to <span style="color: #EB2850">FitLog</span> </h1>
        <div class="gateway">
                        <span style="color: #EB2850">FitLog</span> will help you create a customized workout
                         routine that will keep you on track!
            <p>Login or Register with:</p>
            <a href="/login" class="button"> Login</a>
            <a href="/signup" class="button"> Signup</a>
        </div>

</div>
</body>
</html>