
<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
<!--     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">  load bootstrap css 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">  load fontawesome --> 
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div class="fixed">
    <div class="heading">
        FitLog
    </div>
        <div class="navigation">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <h1> Welcome to <span style="color: #EB2850">FitLog</span> </h1>
        <div class="gateway">

            <p>Login or Register with:</p>

            <a href="/login" class=""><span class=""></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        </div>

</div>
</body>
</html>