<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
        <% include ./partials/head %>
</head>
<body class="loginbg">

    <header>
            <% include ./partials/header %>
    </header>
<div class="container2">


    <!-- <h1><span class="fa fa-sign-in"></span> Login</h1> -->

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %> 

    <!-- LOGIN FORM -->
    
    <div class="login">
            <h1>Login</h1>
    <form action="/login" method="post">
        <div class="form-row">
            <label>Email</label>
            <input type="text" name="email" input="jSchmoe@gmail.com" class="resizedTextbox">
        </div>
        <div class="form-row">
            <label>Password</label>
            <input type="password" name="password" input="abc123" class="resizedTextbox">
        </div>

        <button type="submit" class="button">Login</button>
    </form>

    <hr>

    <p>Need an account? <a href="/signup">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>
    </div>
</div>
</body>
</html>
