<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
        <% include ./partials/head %>
</head>
<body class="profileBg">
        <header>
                <% include ./partials/header %>
        </header>

<div class="container">


    <section id="setup routine" role="main" class="routineContainer" >
            <h3>Setup your workout routine</h3>
            <form action="/exercises" method="post">
                Day:<br>
                <input type="text" placeholder="Ex: Day 1"></input><br>
                Muscle Group:<br>
                <input type="text" placeholder="Ex: Arms"></input><br>
                Muscle:<br>
                <input type="text" placeholder="Ex: Bicep"></input><br>
                Exercise Name:<br>
                <input type="text" placeholder="Ex: Curls"></input><br>
                Exercise Weight:<br>
                <input type="text" placeholder="Ex: 45 lbs"></input><br>
                How many sets:<br>
                <input type="text" placeholder="Ex: 3"></input><br>
                How many reps:<br>
                <input type="text" placeholder="Ex: 10"></input><br>
                <button type="submit" class="button">Submit</button>
            </form>
            </section>

    </div>

</div>
</body>
</html>