<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
        <% include ./partials/head %>
</head>
<body class="loginbg">
        <header>
                <% include ./partials/header %>
        </header>
<div class="container2">


    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    
    <div class="login">
            <h1>Signup</h1>
    <form action="/signup" method="post">
        <div class="form-row">
                <label>First Name</label>
                <input type="text" name="firstName" class="resizedTextbox">
            </div>        
            <div class="form-row">
                    <label>Last Name</label>
                    <input type="text" name="lastName" class="resizedTextbox">
                </div>
        <div class="form-row">
            <label>Email</label>
            <input type="text" name="email" class="resizedTextbox">
        </div>
        <div class="form-row">
            <label>Password</label>
            <input type="password" name="password" class="resizedTextbox">
        </div>

        <button type="submit" class="button">Signup</button>
    </form>

    <hr>

    <p> Already a member? <a href="/Login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>
    </div>
</div>
</body>
</html>
